img {
    width: 450px;
    height: 300px;
    margin: 0 auto;
}

.addPet {
    width: 200px;
}

input {
    display: block;
    margin: 10px auto;
    font-size: 20px;
}

select {
    width: 75px;
    font-size: 20px;
    margin-top: 20px;
}

.inlineType {
    margin: 0 auto;
}

h4 {
    display: inline-block;
    padding-right: 10px;
}

.adoptMeSection {
    margin: 0 auto;
}

.adoptMeButton {
    padding: 5px;
    font-size: 18px;
    margin: 10px;
    width: 100px;
}

h1 {
    color: whitesmoke;
}

.link {
    text-decoration-color: whitesmoke;
    display: inline-block;
    padding: 10px;
}

h3 {
    text-align: center;
    color: whitesmoke;
    display: inline-block;
}

p {
    color: whitesmoke;
    text-align: center;
}

div, .types {
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}

button {
    padding: 5px;
    font-size: 18px;
    margin: 10px;
    width: 100px;
}

body {
    background-color: #0669cc;
}